# Midnight Network Configuration (Preprod Testnet)
NEXT_PUBLIC_MIDNIGHT_NETWORK=preprod
NEXT_PUBLIC_MIDNIGHT_CONTRACT_ID=c634cc887df0973ba82bc12e8eec22a7e4b7fc3cbce230cd84cc57b01183cf48
NEXT_PUBLIC_MIDNIGHT_ADMIN_ADDRESS=mn_preprod_admin9901428xklasdf09238471203948
NEXT_PUBLIC_MIDNIGHT_INDEXER_URI=https://indexer.preprod.midnight.network/api/v1/graphql
NEXT_PUBLIC_MIDNIGHT_NODE_URI=https://rpc.preprod.midnight.network
