# Midnight Network Configuration (Preprod Testnet)
NEXT_PUBLIC_MIDNIGHT_NETWORK=preprod
NEXT_PUBLIC_MIDNIGHT_CONTRACT_ID=mn_contract_eligibility_gate_0x8f2a1b94d7e291c0a85fb32e71d4a96c
NEXT_PUBLIC_MIDNIGHT_ADMIN_ADDRESS=mn_preprod_admin9901428xklasdf09238471203948
NEXT_PUBLIC_MIDNIGHT_INDEXER_URI=https://indexer.preprod.midnight.network/api/v1/graphql
NEXT_PUBLIC_MIDNIGHT_NODE_URI=https://rpc.preprod.midnight.network
